.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.Content-left {
  width:70%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Content-right {
  width:30%; 
}

.App-link {
  color: #61dafb;
}

.highlight-text {
  color: #ffc400;
}

.Status-table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #525252;
}

th:first-child {
  padding-right: 20px;
  text-align: left;
}

td:first-child {
  padding-right: 20px;
  text-align: left;
}

th:nth-child(2) {
  text-align: right;
}

td:nth-child(2) {
  text-align: right;
}

.img-dice {
  max-height: 100px;
  max-width: 100px;
}

.status-div {
  height: 97vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.Gamelog {
  overflow: scroll;
  max-height: 60vh;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}

.DicePanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 20vh;
}

.Action-panel {
  padding-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
